<div class="content__main content__main--note-remove">

	<h1>Really sure?</h1>

	<p>Delete &quot;{{model.title}}&quot;?</p>

	<button {{action "remove"}} class="button button--negative">Yepp, I'm sure.</button>
	<button {{action "cancel"}} class="button button--positive">No, take me back!</button>

</div>
